.ideas-category {
    margin-top: 4rem;
}

.ideas-add-form {
    width: 60%;
    margin-left: 20%;
    border: 1px solid #e6e6e6;
    border-radius: 18px;
    position: absolute;
    z-index: 9999;
    background-color: white;
    padding: 30px;
    display: none;
    top: 0;
}

.ideas-add-form-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
}

.ideas-form-button{
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .ideas-add-form {
        width: 90%;
        margin-left: 5%;
        overflow: scroll;
    }
}

.add-ideas-row {
    text-align: right;
    margin-bottom: 30px;
}

.categories-swiper .btn {
    min-width: 8.375rem;
    width: auto;
    margin-right: 30px;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.ideas-category .swiper-slide {
   width: auto !important;
}

.ideas-card .author-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #4266ff;
}


.ideas-card .author-name {
    margin-left: 10px;
    font-weight: bold;
}

.ideas-card .btn-col{
    text-align: right;
}


.ideas-card .btn{
    margin-bottom: 0;
}

.ideas-card .imt-badge{
    font-size: 0.6rem;
}

.imt-loader-container {
    text-align: center;
    margin: 30px;
}

.imt-order-form-container select {
    width: 175px;
    float: right;
}

.imt-loading {
    display: none;
}